################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PokemonCrawler/v15/.suo
/.vs/PokemonCrawler/v16/.suo
/PokemonCrawler/obj
/PokemonCrawler/obj/Debug
